<header class="header">
   <img src="assets/aluguel.png" class="imagem-aluguel">
    <nav class="navbar">
      <a routerLink="">Logar</a>
      <a href="">AlugaJá</a>
      <a href="">Contato</a>
    </nav>
  </header>
  
  <section class="cadastro">
    
    <div class="cadastro-content">
      <h1>Corretor de Imóveis</h1>
      <p>Encontre o imóvel ideal para você !</p>
  
    </div>
    <app-formulario></app-formulario>
  </section>
  
  <span class="home-imgHover"></span>
